# .gitignore -- Pretty basic stuff, just blocking temporary files, binary objects, and other junk that may show up in the folder but doesn't belong in the repo.

# This file is dedicated to the public domain under CC0 1.0 Universal. To the extent possible under law,
# Raine "Gravecat" Simmons has waived all copyright and related or neighbouring rights to this file.
# See https://creativecommons.org/publicdomain/zero/1.0/ for details.

# Unwanted/temporary files.
~$*
*.lnk
*.tmp
*:Zone.Identifier
.vscode/
log.txt

# Binaries created by the build process, or libraries used in the build.
*.a
*.dll
*.exe
*.o
*.so

# Personal scripts I use for local tasks. Not useful for anyone else.
scripts/

# Build folders.
build/
build-*/
*-build/
