# This is all pretty standard stuff, mostly telling GitHub Linguist what file types are, as well as excluding any third-party code from
# counting towards the stats. A lot of this stuff is auto-detected by GitHub Linguist, but it's not perfect. Just gonna specify a bunch
# of them to make absolutely sure it knows what's what.

*.cpp text linguist-language=C++
*.cpp.in text linguist-language=C++
*.hpp text linguist-language=C++
*.hpp.in text linguist-language=C++
*.ico binary
*.md text
*.rc.in text
*.txt text
*.yml text linguist-detectable=true linguist-language=YAML
CMakeLists.txt text linguist-language=CMake

src/3rdparty/rang/** linguist-vendored
