name: Build Test

on:
  pull_request:
  push:

permissions:
  contents: read

env:
  GH_TOKEN: ${{ github.token }}

jobs:
  Linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: CMake build
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Debug
          cmake --build build --config Debug -j

  Windows:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: CMake build
        shell: cmd
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Debug -G "Visual Studio 17 2022" -A x64
          cmake --build build --config Debug

  macOS:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: CMake build
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Debug
          cmake --build build --config Debug -j
