name: Ubuntu (Latest) CI

on: [push, pull_request]

jobs:
  ubuntu-latest:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: CMake build
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Debug -DWARNINGS_AS_ERRORS=ON
          cmake --build build --config Debug -j
